<h1 class="text-center" title="log in">Log In</h1>
<p class="text-center" title="log in directions">
  Please enter in your email and password to log in.
</p>
<div class="row">
  <div class="large-5 large-centered columns">
<div class="form_for" role="login form">
  <a name="nav-skip" id="nav-skip"></a>
    <%= form_for @user, url: "/login", method: "post" do |f| %>
    <div>
      Email:
      <%= f.text_field :email %>
    </div>
    <div>
      Password:
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit "Log In", :class => 'waves-effect waves-light button login'%>
    </div>
    <% end %>
  </div>
</div>
</div>
