<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>[ A I D E ]</title>
</head>

<body>
    <p>
      Hi, <%= @caregiver.user.first_name %>!
    </p>
    <p>
      We've got some great news!
    </p>
    <p>
      Your care and specialities are a potential match for <%= @user.first_name %>! You wil be able to contact the patient at the following email: <%= @user.email %>. Please find an appropriate time to connect and set up your first meeting! Thanks again for using AIDE!
    </p>
    <p>
        Best,
    </p>
    <p>
        The Team @ Aide Initiative
    </p>
    <p>
        <a href="https://github.com/array415">Aaron Ray</a> |
        <a href="https://github.com/sophn11">Sophia Nakpil</a> |
        <a href="https://github.com/SwittS">Switt Srikulacheep</a> |
        <a href="https://github.com/tbduong">Tiffani Duong</a>
    </p>
    <p>
        <a href="https://aide-initiative.herokuapp.com/">&copy;The Aide Initiative</a>
    </p>
</body>

</html>
