<% @caregiver_specialties.each do |c| %>
<div class="row">
  <div class="large-12 small-6 columns">
    <div class="callout large">
      <strong><h4> <%= c.caregiver %><h4></strong>
    </div>
  </div>
</div>
<% end %>
