<h1 class="text-center">Caregiver first_name last_name</h1>
<div class="row">
  <div class="small-4 columns">
    <div class="panel callout radius">
      <div class="card">
        <img src="http://placekitten.com/g/400/200">
        <div class="card-divider text-center">
          <h4>Switten</h4>
        </div>
        <div class="card-section">
          <ul>
            <li> Switty </li>
            <li> Cat </li>
            <li> location </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="small-8 columns">
    <div class="panel callout radius">
    SHORT BIO:
    <hr>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="panel callout radius">
      SPECIALTIES:
      <hr>
      <div class="row">
        <div class="small-4 columns">
          SPECIALTY GOES HERE
        </div>
        <div class="small-4 columns">
          SPECIALTY GOES HERE
        </div>
        <div class="small-4 columns">
          SPECIALTY GOES HERE
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns">
          SPECIALTY GOES HERE
        </div>
        <div class="small-4 columns">
          SPECIALTY GOES HERE
        </div>
        <div class="small-4 columns">
          SPECIALTY GOES HERE
        </div>
      </div>

    </div>
    <div class="panel callout radius">
    CREDENTIALS:
    <hr> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <a href="#" class="button expanded">Contact Me</a>
  </div>
