
<div style="height:15%; width:100%; clear:both;"></div>
<div class="row">
  <h1 class="text-center">Our Mission</h1>
  <div class="large-12 small-12 columns">
    <div class="panel callout radius about" title="Our Mission">
      <p>
        Here at <strong>AIDE</strong>, creating meaningful relationships for patients, family members, and  caregivers is at our core. It can be a stressful task to find the right care and the right individual to care for our loved ones, especially in the midst of busy schedules, doctors appointments, check-ups, and medical procedures. <strong>AIDE</strong> is here to make life a little easier and will become a helpful tool to find the care you need.
      </p>
      <br>
      <p>
        <br>
        <p>
          <strong>AIDE</strong> provides a user-friendly platform, to facilitate meetings between patient and caregiver according to the care they seek. Patients and family members will have access to a database of caregivers where they can narrow down their search results.
          <br>
          There is a lot of care and trust that is involved in finding the right person for the job-- this application will open the opportunity to meet capable and trustful individuals right for you and you family, at the quick click of a button.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <h1 class="text-center">About Us</h1>
    <div class="large-12 small-12 columns">
      <div class="panel callout radius about" title="Our Mission" tabindex="0">
        <p>
          <strong>AIDE</strong> is a collaborative student project, developed by a group of hardworking and fresh web developers with not only a drive to succeed, but a deep passion to help those in need. For many of us, healthcare is something that resonates within us and something dear in our hearts as many of us have dealt these issues personally, amongst family members or friends.
        </p>
        <br>
        <p>
          Many things in our healthcare system can be improved, but to be a part of a group to contribute a small change to make life a little easier for individuals dealing with health issues, is extremely rewarding. AIDE is something that we hope will create a ripple effect for other healthcare companies to recognize and utilize the ever expanding tech industry, smart-phone world, to make healthcare a more accessible for all individuals.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <h1 class="text-center">Terms & Conditions</h1>
    <div class="large-12 small-12 columns">
        <div class="panel callout radius about" tabindex="0">
            <p>
                The information and any reference materials posted here by AIDE Initiative is intended solely for the information of the reader. Such information should NOT be considered or construed as medical advice or used for treatment purposes and is
                NOT intended to replace consultation with a qualified medical professional. This site is not designed to and does not provide medical advice, professional diagnosis, opinion, treatment or services to you or to any other individual.
            </p>
            <p>
                Through this site and linkages to other sites, AIDE Initiative provides general information for educational purposes only. The information provided in this site, or through linkages to other sites, is not a substitute for medical or professional
                care, and you should not use the information in place of a visit, call consultation or the advice of your physician or other healthcare provider.
            </p>
            <p>
                AIDE Initiative is not liable or responsible for any advice, course of treatment, diagnosis or any other information, services or product you obtain through this site. This site is intended as an educational service and is not a substitute for
                seeking the care of a qualified healthcare professional.
            </p>
            <p>
                <strong>IF YOU BELIEVE YOU HAVE A MEDICAL EMERGENCY, YOU SHOULD IMMEDIATELY CALL 911 OR YOUR PHYSICIAN.</strong>
            </p>
            <p>
                If you believe you have any other health problem, or if you have any questions regarding your health or a medical condition, you should promptly consult your physician or other healthcare provider. Never disregard medical or professional advice, or
                delay seeking it, because of something you read on this site or a linked website. Never rely on information on this website in place of seeking professional medical advice. You should also ask your physician or other healthcare provider to assist you
                in interpreting any information in this site or in the linked websites, or in applying the information to your individual case. Medical information changes constantly, therefore the information provided on the site should not be considered current,
                complete or exhaustive, nor should you rely on such information to recommend a course of treatment for you or any other individual. Reliance on any information provided on this site is solely at your own risk.
            </p>
            <p>
                Please note that communication via the Internet and electronic mail may not be secure, and AIDE Initiative cannot guarantee the security or confidentiality of any information which is transmitted. Because electronic mail may be delayed by hours
                or days, please do not rely on this mode of communication to convey urgent information.
            </p>
            <p>
                Disclaimer of warranty
            </p>
            <p>
                While we try to keep the information on the web site as accurate as possible, we disclaim any warranty concerning its accuracy, timeliness and completeness, and any other warranty, express or implied, including warranties of merchantability or
                fitness for a particular purpose.
            </p>
            <p>
                Limitation of liability
            </p>
            <p>
                The user assumes all responsibility and risk for the use of this web site and the Internet in general. Under no circumstances shall AIDE Initiative, or its employees, agents, or representatives, or its affiliates, or anyone else involved in creating or maintaining this web site be liable for any direct, indirect, incidental, special or consequential damages, lost profits, or other damages whatsoever including, without limitation, damages that result from: the use or inability to use or access the web site and/or any other web sites which are linked to this site; reliance by a member or visitor on any information obtained via the website; or mistakes, omissions, interruptions, deletion of files, viruses, errors, defects, or any failure of performance, communications failure, theft, destruction or unauthorized access. In states which do not allow the above limitations of
                liability, liability shall be limited to the greatest extent permitted by law.
            </p>
            <p>
                By choosing to use the AIDE Initiative web site, you acknowledge and agree to these terms and conditions. In its sole discretion, AIDE Initiative may from time-to-time revise these terms and conditions by updating this posting.
            </p>
        </div>
    </div>
</div>
  <div class="row">
    <h1 class="text-center" title="Developers Involved">The Developers</h1>
    <div class="large-12 small-12 columns">
      <div class="panel callout radius text-center about" title="Our Mission" tabindex="0">
        Tiffani Duong | Sophia Nakpil | Aaron Ray | Switt Srikulacheep
        <br>
        ©2016
      </div>
    </div>
  </div>

</body>
</html>
