<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="row">
      <h1 class="text-center"> Our Mission </h1>
      <div class="large-12 small-12 columns">
        <div class="panel callout radius about" title="Our Mission" tabindex="0" role="main">
          <p>
            Here at <strong>AIDE</strong>, creating meaningful relationships for patients, family members, and  caregivers is at our core. It can be a stressful task to find the right care and the right individual to care for our loved ones, especially in the midst of busy schedules, doctors appointments, check-ups, and medical procedures. <strong>AIDE</strong> is here to make life a little easier and will become a helpful tool to find the care you need.
          </p>
          <br>
          <p>
            <strong>AIDE</strong> provides a user-friendly platform, to facilitate meetings between patient and caregiver according to the care they seek. Patients and family members will have access to a database of caregivers where they can narrow down their search results.
            <br>
            There is a lot of care and trust that is involved in finding the right person for the job-- this application will open the opportunity to meet capable and trustful individuals right for you and you family, at the quick click of a button.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <h1 class="text-center">About Us</h1>
      <div class="large-12 small-12 columns">
        <div class="panel callout radius about" title="Our Mission" tabindex="0">
          <p>
            <strong>AIDE</strong> is a collaborative student project, developed by a group of hardworking and fresh web developers with not only a drive to succeed, but a deep passion to help those in need. For many of us, healthcare is something that resonates within us and something dear in our hearts as many of us have dealt these issues personally, amongst family members or friends.
          </p>
          <br>
          <p>
            Many things in our healthcare system can be improved, but to be a part of a group to contribute a small change to make life a little easier for individuals dealing with health issues, is extremely rewarding. AIDE is something that we hope will create a ripple effect for other healthcare companies to recognize and utilize the ever expanding tech industry, smart-phone world, to make healthcare a more accessible for all individuals.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <h1 class="text-center" title="Developers Involved">The Developers</h1>
      <div class="large-12 small-12 columns">
        <div class="panel callout radius text-center about" title="Our Mission" tabindex="0">
          Tiffani Duong | Sophia Nakpil | Aaron Ray | Switt Srikulacheep
          <br>
          ©2016
        </div>
      </div>
    </div>

  </body>
</html>
