<h1 class="text-center"> [ A I D E ] </h1>


<strong><h4 class="test-center"> Find the care you seek. </h4></strong>

<h5> At AIDE, we strive to assist patients in finding the care that they need. We aim to create new meaningful connections between patients and caregivers.</h5>

<div class="splash text-center">
<div class="row text-center">
  <div class="large-6 large-centered columns">
    Get Started!
  </div>
</div>

<div class="row text-center">
  <div class="large-6 large-centered columns">
    <a href="#" class="button success"> Caregiver </a>
    <a href="#" class="button large"> Patient </a>
  </div>
</div>
</div>
