<strong><h1 class="splash-title text-center"> [ A I D E ] </h1></strong>
<br>
<strong><h3 class="text-center"> Find the care you seek. </h3></strong>

<h6 class="text-center"> At AIDE, we aim to create new meaningful connections between patients and their caregivers.</h6>
<br>
<hr>
<div class="splash text-center">
<div class="row text-center">
  <div class="large-6 large-centered columns">
      <strong><h4>Get Started! Sign up for an account with us.</h4></strong>
    <h5>Are you a <strong>patient</strong> or a <strong>caregiver</strong>?</h5>
  </div>
</div>
<div class="row text-center">
  <div class="large-6 large-centered columns">
    <%= button_to "Sign Up", new_user_path, :method => :get, class: "button large" %>
  </div>
</div>
</div>
