<h1 class="text-center"> [ A I D E ] </h1>

<div class="row text-center">
  <div class="large-6 large-centered columns">
    Get Started!
  </div>
</div>

<div class="row text-center">
  <div class="large-6 large-centered columns">
    <button type="button" name="success button"> Caregiver </button>
    <button type="button" name="button"> Patient </button>
  </div>
</div>
