  <div style="height:15%; width:100%; clear:both;"></div>
  <h1 class='text-center'> Resources </h1>

  <div class="row">
    <div class="resource-links large-10 small-12 large-centered columns">
      <div class="panel callout radius resources-cat">
        <h2 class="text-center"> Healthcare Issues and Conditions </h4>
          <p class="text-center"> Check out these links for more information about specific issues and the care category they fall under.</p>
          <ul>
            <li> <a href="https://www.caregiver.org/resources-health-issue-or-condition" class="links"> Caregiver.org - Caregiver Health Issue and Conditions</a> </li>
            <li><a href="https://www.health.ny.gov/diseases/chronic/" class="links"> List of Chronic Illnesses </a></li>
            <li><a href="http://www.caregiverslibrary.org/caregivers-resources/grp-disabilities/understanding-disabilities-article" class="links"> CaregiversLibrary.org - Understanding Disabilities, Who can help? </a></li>
          </li>
          <li> <a href="http://www.caregiverslibrary.org/caregivers-resources/grp-disabilities/coping-with-disabilities-article.aspx" class="links"> Caregivers Library: Coping suggestions for caregivers and loved ones with disabilities.</a> </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="resource-links large-10 small-12 large-centered columns">
      <div class="panel callout radius resources-cat">
        <h2 class="text-center"> Forms, Assessments, and Checklists </h2>
        <p class="text-center"> Below are helpful forms and checklists to help move the caregiving and patient process along. There are forms involving information and checklists for Money and Insurance, Physical/Emotional Help, Planning, and Assessment that can help you plan and find the right individuals for the job.</p>
        <ul>
          <li> <a href="http://www.caregiverslibrary.org/Portals/0/ChecklistsandForms_CaregivingDecisionQuestionaire.pdf" class="links"> Caregivers Library: An assortment of important questions to help you in your decisions of a caregiver. </a> </li>
          <li> <a href="http://www.seniorsresourceguide.com/articles/art00980.html" class="links"> Seniors Resource Guide: Another list of helpful questions to help the caregiving hiring process.</a> </li>
          <li> <a href="http://www.caregiverslibrary.org/Portals/0/ChecklistsandForms_CaregiverDocumentOrganizer.pdf" class="links"> Caregivers Library: A form that will help you, as a caregiver, to collect all the documentation you need to enter the hiring process. </a> </li>
          <li> <a href="http://www.caregiverslibrary.org/Portals/0/ChecklistsandForms_ChoosingAFinancialPlanner.pdf" class="links"> Caregivers Library: Choosing a Financial Planner: an assessment to find the right individuals to assist you and your specific healthcare issues. </a>  </li>
          <li> <a href="http://www.caregiverslibrary.org/Portals/0/ChecklistsandForms_HomeModificationChecklist.pdf" class="links">Caregiver Library:Home Modifications Checklist</a></li>
          <li><a href="http://www.caregiverslibrary.org/Portals/0/ChecklistsandForms_WeeklyMedicineChart.pdf" class="links"> Caregivers Library: An easy ready-made guide to help keep track of weekly, daily medicine.</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="resource-links large-10 small-12 large-centered columns">
      <div class="panel callout radius resources-cat">
        <h2 class="text-center"> Taking Care of Yourself </h2>
        <p class="text-center"> Check out these links for more useful information about taking care of yourself; as a patient, family member, or caregiver.</p>
        <ul>
          <li> <a href="https://www.caregiver.org/taking-care-you-self-care-family-caregivers" class="links"> Caregivers Library: Taking care of YOU </a>  </li>
          <li> <a href="http://www.caregiverslibrary.org/caregivers-resources/grp-caring-for-yourself/care-for-the-caregiver-article.aspx" class="links">Caregivers Library: Care for the caregiver</a></li>
          <li><a href="http://www.caregiverslibrary.org/Portals/0/CaringforYourself_CaregiverSelfAssessmentQuestionaire.pdf" class="links"> Caregivers Library: Caregiver Self-Assessment</a></li>
          <li> <a href="http://caregiveraction.org/family-caregiver-toolbox" class="links"> Caregiver Action: Tips and information to help caregivers care for their loved ones and themselves. </a> </li>
        </ul>
      </div>
    </div>
  </div>
</body>
