<h1 class='text-center'> Resources </h1>
<hr>
<div class="resource-links large-12 columns">
  <h2 class="text-center"> Healthcare Issues and Conditions </h4>
    <p class="text-center"> Check out these links for more information about specific issues and the care category they fall under.</p>
    <ul>
      <li> <a href="https://www.caregiver.org/resources-health-issue-or-condition"> Caregiver.org - Caregiver Health Issue and Conditions</a> </li>
      <li><a href="https://www.health.ny.gov/diseases/chronic/"> List of Chronic Illnesses </a></li>
      <li><a href="http://www.caregiverslibrary.org/caregivers-resources/grp-disabilities/understanding-disabilities-article"> CaregiversLibrary.org - Understanding Disabilities, Who can help? </a></li>
  </li>
    </ul>
  </div>
</div>
<hr>

<div class="resource-links large-12 columns">
  <h2 class="text-center"> Taking Care of Yourself </h2>
    <p class="text-center"> Check out these links for more useful information about taking care of yourself; as a patient, family member, or caregiver.</p>
    <ul>
      <li> <a href="https://www.caregiver.org/taking-care-you-self-care-family-caregivers"> Caregiver.org - Taking care of YOU </a>  </li>
      <li> <a href="http://www.caregiverslibrary.org/caregivers-resources/grp-caring-for-yourself/care-for-the-caregiver-article.aspx">CaregiversLibrary.org - Care for the caregiver</a></li>
      <li><a href="http://www.caregiverslibrary.org/Portals/0/CaringforYourself_CaregiverSelfAssessmentQuestionaire.pdf"> CaregiversLibrary.org- Caregiver Self-Assessment</a></li>
    </ul>
</div>
