<h1 class='text-center'> Resources </h1>
<hr>
<div class="resource-links large-12 columns">
  <h4 class="text-center"> Healthcare Issues and Conditions </h4>
  <div class="large-8 columns">

  </div>
  <h6 class="text-center"> Check out these links for more information about specific issues and the care category they fall under.</h6>
  <ul>
    <li> <a href="https://www.caregiver.org/resources-health-issue-or-condition"> Caregiver.org - Caregiver Health Issue and Conditions</a>  </li>
  </ul>
</div>
</div
