<% @specialties.each do |specialty| %>
<div class="row">
  <div class="large-12 small-6 columns">
    <div class="callout large">
      <strong><h5> <%= link_to "#{specialty.skill}", specialty_path(specialty), class: "links" %> <h5></strong>
    </div>
  </div>
</div>
<% end %>
