<h2 class="text-center"> Welcome back, FirstName! </h2>

<div class="row">
  <div class="small-4 columns">
    <div class="panel callout radius">
      <div class="card">
        <img src="http://placekitten.com/g/400/200">
        <div class="card-divider text-center">
          <h4>FirstName LastName</h4>
        </div>
        <div class="card-section">
          <ul>
            <li> Birthdate: </li>
            <li> Location: </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-7 columns">
      <div class="panel callout radius">
        <h4> Short Bio </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div>
        </div>


      </div>

    </div>
