<div class="error">
  <div class="message">
    <h1 class="text-center">404</h1>
    <p class="text-center">
      The page you are looking for doesn't exist or a different error occured. Please return back to the homepage to choose a new direction. We apologize for the inconvience!
    </p>
  </div>
</div>
