// Place all the styles related to the caregiver controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  height:150px;
  weight:150px;
}

.button {
  background-color: #006ca8;
  font-size: 19px;
  padding: 20px;
}

.large-centered {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

.small-centered {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}
