// Place all the styles related to the caregiver controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  height:150px;
  weight:150px;
}

.filter {
  margin-left: 25%;
}

.filter-button {
    margin-left: 42%;
}

.button {
    background-color: #00008B;
    font-size: 19px;
    padding: 20px;
}
