// Place all the styles related to the patient controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.splash-title {
    font-size: 2em;
}

.patient-name {
  font-size: 2em;
}

.patient-bio {
  font-size: 2em;
}
